<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nebula-Nexus : Earth & Climate</title>
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
    <nav class="navbar">
        <div class="navbar_box">
            <div class="nav-sec1">
                <a href="/mission">Mission</a>
                <a href="/earth">Earth & Climate</a>
            </div>
            <h1 class="logo"><a href="/">Nebula-Nexus</a></h1>
            <div class="nav-sec1">
                <a href="/news">News & Events</a>
                <a href="/explore">Explore Universe</a>
            </div>
        </div>
    </nav>

    <div class="earth_home">
        <div class="champa">
            <div class="sketchfab-embed-wrapper">
                <iframe title="Earth" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true"
                allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking execution-while-out-of-viewport
                execution-while-not-rendered web-share src="https://sketchfab.com/models/41fc80d85dfd480281f21b74b2de2faa/embed?autostart=1">
                </iframe>
            </div>
            <div class="remote">
                <h1 style="font-size: 70px;">Our Earth</h1>
            </div>
            <div class="setupbox">
                <p style="font-size: 18px;width: 300px;">Your home.<b> Our Mission </b><br> And the one planet that we studies other than any other.</p>
            </div>
        </div>
    </div>

    <div class="earth_sec1">
        <p>NASA studies our own planet more than any other. We operate 26 missions in orbit and sponsor hundreds of research programs and studies each year. We observe our planet’s oceans, land, ice, and atmosphere, and measure how a change in one drives change in others. We develop new ways to observe and study Earth's interconnected systems and we build long-term data records of how our planet evolves. The agency freely shares this unique knowledge and works with institutions around the world.</p>
        <div class="earth-img">
            <img src="../static/img/960.jpg" alt="" width="550" height="350">
        </div>
    </div>

    <div class="earth_sec2">
        <div class="sec2_img">
            <img src="../static/img/climate.webp" alt="" width="600" height="400">
        </div>
        <div class="sec2_cont">
            <h1 style="padding-bottom: 30px;">The Ocean and Climate Change</h1>
            <p>Our ocean is changing. With 70 percent of the planet covered in water, the seas are important drivers of the global climate. Yet increasing greenhouse gases from human activities are altering the ocean before our eyes. NASA and its partners are on a mission to find out more.</p>
            <p>Recent research found that over the past 20 years, the tropical ocean turned greener. Ocean color reflects the life that is found in it. Green colors often correspond to phytoplankton, microscopic plant-like organisms that form the center of the ocean's food web. Observations of changes in phytoplankton populations due to climate change are a key part of the Plankton, Aerosol, Cloud, and ocean Ecosystem (PACE) mission, which launched in 2024.</p>
            <a href="https://science.nasa.gov/earth/explore/the-ocean-and-climate-change/" class="button1" style="--clr: #7808d0">
                <span class="button1__icon-wrapper">
                    <svg
                    viewBox="0 0 14 15"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="button1__icon-svg"
                    width="10"
                    >
                    <path
                        d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"
                        fill="currentColor"
                    ></path>
                    </svg>

                    <svg
                    viewBox="0 0 14 15"
                    fill="none"
                    width="10"
                    xmlns="http://www.w3.org/2000/svg"
                    class="button1__icon-svg button1__icon-svg--copy"
                    >
                    <path
                        d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"
                        fill="currentColor"
                    ></path>
                    </svg>
                </span>
                Explore More
            </a>
        </div>
    </div>

    <div class="earth_sec2">
        <div class="sec2_cont">
            <h1 style="padding-bottom: 30px;">Ocean warming is altering hurricanes</h1>
            <p>Hurricanes need warm water to form and strengthen. Recent research points to warmer ocean temperatures as a key factor causing more storms to rapidly intensify. One way to detect rapid intensification before it happens may be through a change in lightning around the eye of the storm. Plus, higher sea levels worsen storm surge flooding when a storm travels over a coastline.</p>
        </div>
        <div class="sec2_img">
            <img src="../static/img/hurricane-lee-ri-sep-7-2023.webp" alt="" width="620" height="420">
        </div>
    </div>

    <div class="earth_sec2">
        <div class="sec2_img">
            <img src="../static/img/arcticseaice-dms-201185-06318-lrg.webp" alt="" width="600" height="400">
        </div>
        <div class="sec2_cont">
            <h1 style="padding-bottom: 30px;">Sea ice is thinning and shrinking</h1>
            <p>Melting sea ice does not affect sea levels, but it does impact global temperatures. Sea ice is light-colored and reflects sunlight back into space; open water is darker and absorbs more sunlight. Warming ocean waters melt sea ice from below, and warmer air helps melt it from above. As ice cover thins and shrinks, more ocean is exposed and less sunlight is reflected, further warming the water and air. Satellites help monitor changes in sea ice which is an area of research for upcoming missions in the Earth Systems Observatory.
            </p>
            <a href="https://science.nasa.gov/earth-science/missions/earth-system-observatory/" class="button1" style="--clr: #7808d0">
                <span class="button1__icon-wrapper">
                    <svg
                    viewBox="0 0 14 15"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="button1__icon-svg"
                    width="10"
                    >
                    <path
                        d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"
                        fill="currentColor"
                    ></path>
                    </svg>

                    <svg
                    viewBox="0 0 14 15"
                    fill="none"
                    width="10"
                    xmlns="http://www.w3.org/2000/svg"
                    class="button1__icon-svg button1__icon-svg--copy"
                    >
                    <path
                        d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"
                        fill="currentColor"
                    ></path>
                    </svg>
                </span>
                Explore More
            </a>
        </div>
    </div>



    <footer class="foot">
        <div class="footer">
            <div class="column logo-section">
              <h2>Newbula Nexus</h2>
              <p>Providing real-time space data from NASA, Space X and ISRO to inform and inspire the world through discovery and innovation.</p>
            </div>
          
            <div class="column">
              <h3>Explore</h3>
              <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/news">News & Events</a></li>
                <li><a href="/mission">Live Missions</a></li>
              </ul>
            </div>
          
            <div class="column">
              <h3>Topics</h3>
              <ul>
                <li><a href="/explore">Humans in Space</a></li>
                <li><a href="/earth">Earth & Climate</a></li>
                <li><a href="/explore">The Solar System</a></li>
              </ul>
            </div>
        </div>
        <div class="copywrite">
            <p>Developed By Why Code &copy; All Rights Reserved</p>
        </div>
    </footer>
</body>
</html>