<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nebula-Nexus</title>
    <link href="../static/css/main.css" rel="stylesheet"> 
</head>
<body>
    <nav class="navbar">
        <div class="navbar_box">
            <div class="nav-sec1">
                <a href="/mission">Mission</a>
                <a href="/earth">Earth & Climate</a>
            </div>
            <h1 class="logo"><a href="/">Nebula-Nexus</a></h1>
            <div class="nav-sec1">
                <a href="/news">News & Events</a>
                <a href="/explore">Explore Universe</a>
            </div>
        </div>
    </nav>

    <div class="banner">
        <div class="container">
            <div class="cont">
                <h1>Welcome To<br> Nebula-Nexus</h1>
                <p>Nebula leadership on the future of space exploration, scientific discovery, and cutting-edge technology brings value to all the people day in and day out</p>
                <button class="Explore-Button">
                    <span class="IconContainer">
                        <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 156 78"
                        class="telescope"
                        >
                        <path
                            fill="url(#paint0_linear_131_19)"
                            d="M10.3968 78C10.6002 78 32 72.831 32 72.831C29.5031 68.7434 27.3945 63.5193 26.0258 57.947C24.6386 52.3381 24.0837 46.7841 24.3982 42L3.38683 47.0957C0.0205717 47.9206 -1.0152 55.4725 1.09333 63.9959C3.05409 72.0061 7.10469 78 10.3968 78Z"
                        ></path>
                        <path
                            fill="url(#paint1_linear_131_19)"
                            d="M63.0824 25L34.8099 32.0351C33.7675 32.2957 32.8714 33.0215 32.1582 34.1382C31.6096 34.9943 31.1524 36.0738 30.8049 37.3393C30.5489 38.2513 30.366 39.2563 30.238 40.3544C29.6894 44.7839 30.0734 50.5348 31.5547 56.6207C33.0177 62.7067 35.2854 67.9925 37.7725 71.6587C38.3942 72.5707 39.016 73.371 39.6561 74.0596C40.5339 75.0274 41.43 75.7718 42.3078 76.2743C43.1307 76.7396 43.9536 77 44.74 77C45.0326 77 45.3252 76.9628 45.5995 76.8883L72.5919 70.1698L74 69.8164C69.867 64.1027 66.6484 56.1184 64.7282 48.1527C62.7532 39.9451 62.1497 31.8306 63.0094 25.3166C63.0458 25.2233 63.0643 25.1117 63.0824 25Z"
                        ></path>
                        <path
                            fill="url(#paint2_linear_131_19)"
                            d="M155.865 50.9153L144.361 3.54791C143.844 1.43031 141.964 0 139.88 0C139.512 0 139.143 0.0371509 138.774 0.130028L75.0921 15.8448C74.3361 16.0306 73.654 16.4021 73.0271 16.9594C72.1239 17.7581 71.3493 18.9284 70.7411 20.3958C70.3537 21.3246 70.0403 22.3648 69.7823 23.4979C68.4731 29.2935 68.7683 37.7267 70.9621 46.7544C73.2115 55.9863 76.9358 63.7509 80.8447 68.2277C81.6375 69.1194 82.4303 69.8995 83.2229 70.5125C83.4259 70.6795 83.6654 70.8283 83.9051 70.9581C85.6752 71.9798 87.7955 72.2584 89.7865 71.7571L152.492 56.5065C154.962 55.912 156.474 53.4044 155.865 50.9153Z"
                        ></path>
                        <defs>
                            <linearGradient
                            gradientUnits="userSpaceOnUse"
                            y2="78"
                            x2="16"
                            y1="42"
                            x1="16"
                            id="paint0_linear_131_19"
                            >
                            <stop stop-color="#6A8EF6"></stop>
                            <stop stop-color="#BF8AEB" offset="1"></stop>
                            </linearGradient>
                            <linearGradient
                            gradientUnits="userSpaceOnUse"
                            y2="77"
                            x2="52"
                            y1="25"
                            x1="52"
                            id="paint1_linear_131_19"
                            >
                            <stop stop-color="#6A8EF6"></stop>
                            <stop stop-color="#BF8AEB" offset="1"></stop>
                            </linearGradient>
                            <linearGradient
                            gradientUnits="userSpaceOnUse"
                            y2="72"
                            x2="112.5"
                            y1="0"
                            x1="112.5"
                            id="paint2_linear_131_19"
                            >
                            <stop stop-color="#6A8EF6"></stop>
                            <stop stop-color="#BF8AEB" offset="1"></stop>
                            </linearGradient>
                        </defs>
                        </svg>

                        <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 104 69"
                        class="tripod"
                        >
                        <path
                            stroke-linecap="round"
                            stroke-width="11"
                            stroke="url(#paint0_linear_124_14)"
                            d="M98.4336 63.3406L52 5.99991"
                        ></path>
                        <path
                            stroke-linecap="round"
                            stroke-width="11"
                            stroke="url(#paint1_linear_124_14)"
                            d="M52.4336 6L6.00004 63.3407"
                        ></path>
                        <path
                            stroke-linecap="round"
                            stroke-width="11"
                            stroke="url(#paint2_linear_124_14)"
                            d="M52 63L52 6"
                        ></path>
                        <defs>
                            <linearGradient
                            gradientUnits="userSpaceOnUse"
                            y2="40.5"
                            x2="68"
                            y1="32"
                            x1="77.5"
                            id="paint0_linear_124_14"
                            >
                            <stop stop-color="#8E8DF2"></stop>
                            <stop stop-color="#BC8BEC" offset="1"></stop>
                            </linearGradient>
                            <linearGradient
                            gradientUnits="userSpaceOnUse"
                            y2="40.5174"
                            x2="36.4196"
                            y1="32.9922"
                            x1="26.1302"
                            id="paint1_linear_124_14"
                            >
                            <stop stop-color="#8E8DF2"></stop>
                            <stop stop-color="#BC8BEC" offset="1"></stop>
                            </linearGradient>
                            <linearGradient
                            gradientUnits="userSpaceOnUse"
                            y2="34.8174"
                            x2="42.7435"
                            y1="34.0069"
                            x1="55.4548"
                            id="paint2_linear_124_14"
                            >
                            <stop stop-color="#8E8DF2"></stop>
                            <stop stop-color="#BC8BEC" offset="1"></stop>
                            </linearGradient>
                        </defs>
                        </svg>
                    </span>
                    <a href="/explore" class="text" style="text-decoration: none;">Explore The Universe With Us</a>
                </button>
            </div>
        </div>
    </div>

    <div class="counter-container">
        <div class="counter">
            <span class="count" data-target="397">0</span>
            <p>Total Launches</p>
        </div>
        <div class="counter">
            <span class="count" data-target="359">0</span>
            <p>Total Landings</p>
        </div>
        <div class="counter">
            <span class="count" data-target="331">0</span>
            <p>Total Reflights</p>
        </div>
    </div>
    

    <div class="mission">
        <div class="miss-content">
            <h1>Missions</h1>
            <p>Exploring the secrets of the universe for the benefit of all. We investigates the unknown in air and space, innovates for the benefit of humanity, and inspires the world through discovery.</p>
            <p>Every day since Nov. 2, 2000, people have been orbiting our planet inside the International Space Station, bringing together science, technology and human innovation to enable new technologies and research breakthroughs not possible on Earth. The first decade of the International Space Station was the decade of construction. The second decade moved from initial studies to fully using the orbiting lab. We have now entered the decade of results.</p>
        </div>
    </div>

    <div class="spaceship">
        <div class="text">
            <h1 style="padding-bottom: 20px;">Chandrayaan-3</h1>
            <p>
                Chandrayaan-3 is the third mission in the Chandrayaan programme, a series of lunar-exploration missions developed by the Indian Space Research Organisation (ISRO). Launched on 14 July 2023, the mission consists of a lunar lander named Vikram and a lunar rover named Pragyan.
            </p>
            <p>
                Chandrayaan-3 is a follow-on mission to Chandrayaan-2 to demonstrate end-to-end capability in safe landing and roving on the lunar surface. It consists of Lander and Rover configuration. It will be launched by LVM3 from SDSC SHAR, Sriharikota. The propulsion module will carry the lander and rover configuration till 100 km lunar orbit. The propulsion module has Spectro-polarimetry of Habitable Planet Earth (SHAPE) payload to study the spectral and Polari metric measurements of Earth from the lunar orbit.
            </p>
        </div>
        <div class="sketchfab-embed-wrapper"> 
            <iframe title="" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share width="740" height="580"  src="https://sketchfab.com/models/a8067a0e394c4961b5e855a8321adff8/embed?autostart=1"> </iframe> 
        </div>
    </div>

    <div class="news">
        <div class="heading">
            <h2>News & Events</h2>
        </div>
        <div class="news_image">
            <div class="img1">
                <img src="../static/img/s24-049-6-front-image.jpg" alt="" width="350" height="450">
                <p>NASA Stennis Achieves Milestone in Preparation for Future Artemis Testing</p>
            </div>
            <div class="img2">
                <img src="../static/img/gsfc-20240520-lisa-000535.jpg" alt="" width="350" height="220">
                <p>NASA Reveals Prototype Telescope for Gravitational Wave Observatory</p>
                <div class="img-sec">
                    <img src="../static/img/gslv141.jpg" alt="" width="350" height="225">
                    <p>NASA Reveals Prototype Telescope for Gravitational Wave Observatory</p>
                </div>
            </div>
            <div class="img3">
                <img src="../static/img/54091201742-8775a1e630-o-59883156791c7.jpg" alt="" width="550" height="450">
                <p>NASA Space-X Crew-8</p>
                <p style="font-size: 16px;font-weight: 300;">After safely splashing down off the Florida coast on Friday, Oct. 25, a NASA astronaut experienced a medical issue. After evaluation at Ascension Sacred Heart Pensacola, the astronaut remains in stable condition under observation.</p>
            </div>
        </div>
        <div></div>
    </div>

    <div class="earth">
        <div class="content">
            <h1>Earth Information Center</h1>
            <p>For more than 50 years, NASA satellites have provided data on Earth's land, water, air, temperature, and climate. NASA's Earth Information Center allows visitors to see how our planet is changing in six key areas: sea level rise and coastal impacts, health and air quality, wildfires, greenhouse gases, sustainable energy, and agriculture.</p>
            <p>The Earth Information Center consolidates data and insights on how Earth is changing from across the US federal government. Earth.gov is also the gateway to other interagency cooperative efforts for our planet, like the U.S. Greenhouse Gas Center. Discover how these data are being used to prepare for climate change and mitigate, adapt and respond to environmental challenges across the country.</p>
            <p>Water is one of Earth's most vital resources, but in many regions, water supplies are increasingly scarce. Learn how Earth data are improving monitoring and forecasting of water use, availability and water extremes.</p>
        </div>
        <div class="image-cont">
            <img src="../static/img/jsc2022e046413_orig.jpg" alt="" width="800" height="500">
        </div>

    </div>

    <div class="events_images">
        <div class="heading">
            <h1>Some Images Related To Space</h1>
        </div>
        <div class="event-img">
            <div class="sec-img">
                <img src="../static/img/iss036e005771large.jpg" alt="" width="350" height="380"  >
                <div class="sec-sec">
                    <img src="../static/img/iss071e256908.jpg" alt="" width="290" height="185"  >
                    <img src="../static/img/iss067e170237large.jpg" alt="" width="290"  height="185" >
                </div>
            </div>
            <div class="sec-img">
                <img src="../static/img/topic-humans-in-space.jpg" alt="" width="350" height="380"  >
                <div class="sec-sec">
                    <img src="../static/img/iss056e012002large.jpg" alt="" width="290" height="185"  >
                    <img src="../static/img/iss065e145237.jpg" alt="" width="290"  height="185" >
                </div>
            </div>
            <div class="sec-img">
                <img src="../static/img/gslv142.jpg" alt="" width="350" height="380"  >
                <div class="sec-sec">
                    <img src="../static/img/gslv141.jpg" alt="" width="290" height="185"  >
                    <img src="../static/img/sfdgfdg.avif" alt="" width="290"  height="185" >
                </div>
            </div>
            <div class="sec-img">
                <img src="../static/img/naaurora-vir2-20241011-lrg.jpg" alt="" width="350" height="380"  >
                <div class="sec-sec">
                    <img src="../static/img/spiral-galaxy-jpg.webp" alt="" width="290" height="185"  >
                    <img src="../static/img/webb-tarantula-neb.png" alt="" width="290"  height="185" >
                </div>
            </div>
            
        </div>
    </div>

    <div class="solarsystem">
        
    </div>

    <footer class="foot">
        <div class="footer">
            <div class="column logo-section">
              <h2>Newbula Nexus</h2>
              <p>Providing real-time space data from NASA, Space X and ISRO to inform and inspire the world through discovery and innovation.</p>
            </div>
          
            <div class="column">
              <h3>Explore</h3>
              <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">News & Events</a></li>
                <li><a href="#">Live Missions</a></li>
              </ul>
            </div>
          
            <div class="column">
              <h3>Topics</h3>
              <ul>
                <li><a href="#">Humans in Space</a></li>
                <li><a href="#">Earth & Climate</a></li>
                <li><a href="#">The Solar System</a></li>
                <li><a href="#">Science & Technology</a></li>
              </ul>
            </div>
        </div>
        <div class="copywrite">
            <p>Developed By Why Code &copy; All Rights Reserved</p>
        </div>
    </footer>

    <script>
        window.addEventListener('scroll', function () {
            const navbar = document.querySelector('.navbar');
            if (window.scrollY > 50) {
                navbar.classList.add('scrolled');
            } else {
                navbar.classList.remove('scrolled');
            }
        });

        const counters = document.querySelectorAll('.count');

        const startCounting = (counter) => {
            const target = +counter.getAttribute('data-target');
            const updateCount = () => {
                const current = +counter.innerText;
                const increment = target / 200;

                if (current < target) {
                    counter.innerText = Math.ceil(current + increment);
                    setTimeout(updateCount, 10);
                } else {
                    counter.innerText = target;
                }
            };

            updateCount();
        };

        const observer = new IntersectionObserver((entries) => {
            entries.forEach((entry) => {
                if (entry.isIntersecting) {
                    const counter = entry.target;
                    startCounting(counter);
                    observer.unobserve(counter);
                }
            });
        }, { threshold: 0.5 });

        counters.forEach((counter) => observer.observe(counter));


    </script>
</body>
</html>