<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nebula : Missions</title>
    <link href="../static/css/main.css" rel="stylesheet"> 
</head>
<body>
    <nav class="navbar">
        <div class="navbar_box">
            <div class="nav-sec1">
                <a href="/mission">Mission</a>
                <a href="/earth">Earth & Climate</a>
            </div>
            <h1 class="logo"><a href="/">Nebula-Nexus</a></h1>
            <div class="nav-sec1">
                <a href="/news">News & Events</a>
                <a href="/explore">Explore Universe</a>
            </div>
        </div>
    </nav>

    <div class="news-banner">
        <div class="container">
            <div class="cont">
                <h1>Welcome To<br> Nebula-Nexus</h1>
                <p>Our Mission is , Exploring the secrets of the universe for the benefit of all. NASA investigates the unknown in air and space, innovates for the benefit of humanity, and inspires the world through discovery. </p>
            </div>
        </div>
    </div>

    <div class="news-cont">
        <div class="news_sec1">
            <h1 class="news-head">About</h1>
            <p>"Welcome to Nebula Nexus – your gateway to the incredible world of space exploration. Our mission is to make space technology and scientific innovation accessible to every citizen of India, empowering youth with the knowledge and inspiration to reach for the stars.

            India has a proud legacy in space science, marked by pioneering achievements that have propelled us to new heights in the global arena. From launching our first satellite, Aryabhata, to ambitious lunar missions, India's space journey has been an inspiring testament to what can be achieved through curiosity, resilience, and innovation.
                
            At Nebula Nexus, we believe that the space program belongs to each of us – it’s a shared legacy and an opportunity for all Indians to engage in scientific discovery. Our platform provides real-time data on satellite missions, live tracking of space expeditions, and exclusive insights into cutting-edge research. We bring you the latest news, videos, and interactive simulations to help you experience the thrill of space exploration firsthand.
                
            Our goal is also to encourage the next generation of space enthusiasts. Through educational resources, online courses, and interactive challenges, we aim to spark curiosity and provide guidance for those dreaming of careers in space science, engineering, and technology.
                
            Join us in exploring the wonders of our universe, supporting India's ambitious space missions, and inspiring a future where young minds continue to push the boundaries of what’s possible."</p>
        </div>
        <div class="news_sec2">
            <div class="sketchfab-embed-wrapper"> 
                <iframe title="Solar System" frameborder="0" allowfullscreen 
                    mozallowfullscreen="true" webkitallowfullscreen="true" 
                    allow="autoplay; fullscreen; xr-spatial-tracking" 
                    xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share 
                    width="640" height="480" 
                    src="https://sketchfab.com/models/f7896d085f474ef28631d88129268411/embed?autostart=1"> 
                </iframe>
            </div>
        </div>
    </div>

    <div class="rocket_info">
        <h1 style="text-align: center;">Let's Explore Rockets</h1>
        <div class="roc_sec1">
            <div class="roc_content">
                <h2>Falcon 9 SpaceX Rocket</h2>
                <p style="padding-top: 40px;">Falcon 9 is a reusable, two-stage rocket designed and manufactured by SpaceX for the reliable and safe transport of people and payloads into Earth orbit and beyond. Falcon 9 is the world’s first orbital class reusable rocket. Reusability allows SpaceX to refly the most expensive parts of the rocket, which in turn drives down the cost of space access.</p>
                <a href="https://www.spacex.com/vehicles/falcon-9/" class="button1" style="--clr: #7808d0">
                    <span class="button1__icon-wrapper">
                        <svg
                        viewBox="0 0 14 15"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="button1__icon-svg"
                        width="10"
                        >
                        <path
                            d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"
                            fill="currentColor"
                        ></path>
                        </svg>

                        <svg
                        viewBox="0 0 14 15"
                        fill="none"
                        width="10"
                        xmlns="http://www.w3.org/2000/svg"
                        class="button1__icon-svg button1__icon-svg--copy"
                        >
                        <path
                            d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"
                            fill="currentColor"
                        ></path>
                        </svg>
                    </span>
                    Explore More
                </a>
            </div>
            <div class="sketchfab-embed-wrapper"> 
                <iframe title="Falcon 9 SpaceX rocket" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share width="640" height="480" src="https://sketchfab.com/models/58784d6b55ad47d2985f353459759f06/embed?autostart=1"></iframe>
            </div>
        </div>

        <div class="roc_sec1">
            <div class="sketchfab-embed-wrapper"> 
                <div class="sketchfab-embed-wrapper"> 
                    <iframe title="Crew Dragon" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share width="640" height="480" src="https://sketchfab.com/models/52deccf8849f43ed82fc04ca51bb8dcb/embed?autostart=1"> </iframe>
                </div>
            </div>
            <div class="roc_content">
                <h2>Crew Dragon</h2>
                <p style="padding-top: 40px;">The Dragon spacecraft is capable of carrying up to 7 passengers to and from Earth orbit, and beyond. It is the only spacecraft currently flying that is capable of returning significant amounts of cargo to Earth, and is the first private spacecraft to take humans to the space station.</p>
                <a href="https://www.spacex.com/vehicles/dragon/" class="button1" style="--clr: #7808d0">
                    <span class="button1__icon-wrapper">
                        <svg
                        viewBox="0 0 14 15"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="button1__icon-svg"
                        width="10"
                        >
                        <path
                            d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"
                            fill="currentColor"
                        ></path>
                        </svg>

                        <svg
                        viewBox="0 0 14 15"
                        fill="none"
                        width="10"
                        xmlns="http://www.w3.org/2000/svg"
                        class="button1__icon-svg button1__icon-svg--copy"
                        >
                        <path
                            d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"
                            fill="currentColor"
                        ></path>
                        </svg>
                    </span>
                    Explore More
                </a>
            </div>
            
        </div>

        <div class="roc_sec1">
            <div class="roc_content">
                <h2>Chandrayaan-3</h2>
                <p style="padding-top: 40px;">Chandrayaan-3 is a follow-on mission to Chandrayaan-2 to demonstrate end-to-end capability in safe landing and roving on the lunar surface. It consists of Lander and Rover configuration. It will be launched by LVM3 from SDSC SHAR, Sriharikota. The propulsion module will carry the lander and rover configuration till 100 km lunar orbit. The propulsion module has Spectro-polarimetry of Habitable Planet Earth (SHAPE) payload to study the spectral and Polari metric measurements of Earth from the lunar orbit.</p>
                <a href="https://www.isro.gov.in/Chandrayaan3_Details.html" class="button1" style="--clr: #7808d0">
                    <span class="button1__icon-wrapper">
                        <svg
                        viewBox="0 0 14 15"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="button1__icon-svg"
                        width="10"
                        >
                        <path
                            d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"
                            fill="currentColor"
                        ></path>
                        </svg>

                        <svg
                        viewBox="0 0 14 15"
                        fill="none"
                        width="10"
                        xmlns="http://www.w3.org/2000/svg"
                        class="button1__icon-svg button1__icon-svg--copy"
                        >
                        <path
                            d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"
                            fill="currentColor"
                        ></path>
                        </svg>
                    </span>
                    Explore More
                </a>
            </div>
            <div class="sketchfab-embed-wrapper"> 
                <iframe title="" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share width="640" height="480"  src="https://sketchfab.com/models/a8067a0e394c4961b5e855a8321adff8/embed?autostart=1"> </iframe> 
            </div>
        </div>

    </div>

    <footer class="foot">
        <div class="footer">
            <div class="column logo-section">
              <h2>Newbula Nexus</h2>
              <p>Providing real-time space data from NASA, Space X and ISRO to inform and inspire the world through discovery and innovation.</p>
            </div>
          
            <div class="column">
              <h3>Explore</h3>
              <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">News & Events</a></li>
                <li><a href="#">Live Missions</a></li>
              </ul>
            </div>
          
            <div class="column">
              <h3>Topics</h3>
              <ul>
                <li><a href="#">Humans in Space</a></li>
                <li><a href="#">Earth & Climate</a></li>
                <li><a href="#">The Solar System</a></li>
                <li><a href="#">Science & Technology</a></li>
              </ul>
            </div>
        </div>
        <div class="copywrite">
            <p>Developed By Why Code &copy; All Rights Reserved</p>
        </div>
    </footer>

    <script>
        window.addEventListener('scroll', function () {
            const navbar = document.querySelector('.navbar');
            if (window.scrollY > 50) {
                navbar.classList.add('scrolled');
            } else {
                navbar.classList.remove('scrolled');
            }
        });
    </script>
</body>
</html>