<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nebula : News & Events</title>
    <link href="../static/css/main.css" rel="stylesheet"> 
</head>
<body>
    <nav class="navbar">
        <div class="navbar_box">
            <div class="nav-sec1">
                <a href="/mission">Mission</a>
                <a href="/earth">Earth & Climate</a>
            </div>
            <h1 class="logo"><a href="/">Nebula-Nexus</a></h1>
            <div class="nav-sec1">
                <a href="/news">News & Events</a>
                <a href="/explore">Explore Universe</a>
            </div>
        </div>
    </nav>

    <div class="news-banner">
        <div class="container">
            <div class="cont">
                <h1>Welcome To<br> Nebula-Nexus News</h1>
                <p>Our Mission is , Exploring the secrets of the universe for the benefit of all. NASA investigates the unknown in air and space, innovates for the benefit of humanity, and inspires the world through discovery. </p>
            </div>
        </div>
    </div>

    <div class="news_sec">
        <div>
            <h1><a>Latest News</a></h1>
        </div>
        <div class="news_card_container">
            {% for article in articles %}
                <div class="news-card">
                    <div class="card-image">
                        <img src="{{ article.image_url }}" alt="{{ article.title }}" width="400" height="246">
                    </div>
                    <div class="category">{{ article.title }}</div>
                    <div class="heading">{{ article.description }}
                        <div class="author">{{ article.published_at }}</div>
                    </div>
                </div>
            {% endfor %}

        </div>
        
    </div>

    <div class="todays_image">
        {% if apod.image_url %}
            <h1 style="padding-bottom: 50px;">Image Of The Day</h1>
            <div class="today_cont" style="display: flex;align-items: center;justify-content: space-evenly;">
                <div class="today_text">
                    <h2 style="padding-bottom: 40px;">{{ apod.apod_text }}</h2>
                    <p style="width: 500px;">{{ apod.explanation }}</p>
                </div>
                <img src="{{ apod.image_url }}" alt="Fetched Image" width="540" height="480">
            </div>
        {% else %}
            <p>{{ error }}</p>
        {% endif %}
        
    </div>


    <footer class="foot">
        <div class="footer">
            <div class="column logo-section">
              <h2>Newbula Nexus</h2>
              <p>Providing real-time space data from NASA, Space X and ISRO to inform and inspire the world through discovery and innovation.</p>
            </div>
          
            <div class="column">
              <h3>Explore</h3>
              <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/news">News & Events</a></li>
                <li><a href="/mission">Live Missions</a></li>
              </ul>
            </div>
          
            <div class="column">
              <h3>Topics</h3>
              <ul>
                <li><a href="/explore">Humans in Space</a></li>
                <li><a href="/earth">Earth & Climate</a></li>
                <li><a href="/explore">The Solar System</a></li>
              </ul>
            </div>
        </div>
        <div class="copywrite">
            <p>Developed By Why Code &copy; All Rights Reserved</p>
        </div>
    </footer>

    <script>
        window.addEventListener('scroll', function () {
            const navbar = document.querySelector('.navbar');
            if (window.scrollY > 50) {
                navbar.classList.add('scrolled');
            } else {
                navbar.classList.remove('scrolled');
            }
        });
    </script>
    
</body>
</html>